{
  "extends": ["airbnb-base", "prettier", "plugin:jasmine/recommended"],
  "env": {
    "es6": true,
    "node": true,
    "jasmine": true
  },
  "plugins": ["prettier", "jasmine"],
  "rules": {
    "prettier/prettier": "error",
    "jasmine/new-line-before-expect": "off",
    "no-underscore-dangle": "off"
  },
  "overrides": [
    {
      "files": [ "test/*.spec.js" ],
      "globals": {
        "expectAsync": "readonly"
      },
      "rules": {
      }
    }
  ]
}
